nav {
    width: 100%;
    background-color: #06858E;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    opacity: 0.95;
    z-index: 1;
}
h1, h2, h3, p, ul, li, {
 font-family: "Play", sans-serif;
  font-weight: 500;
  font-style: normal;
}



.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


#nav_logo{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_logo h1{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}
#nav_logo a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
#nav_logo a:hover{
    
    -webkit-text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.96);
-moz-text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.96);
text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.96); 
}
#nav_logo h1:hover{
   transform: scale(1.03);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #04686f;
    color:white; 
text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    
}

#nav_glav{
  width: 65%;
 margin-left: 50px;    
}

/* Основной контейнер бургер-меню */
.burger-menu {
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;

}

.burger-menu:hover .line {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
}


/* Линии бургер-меню */
.burger-menu .line {
  width: 100%;
  height: 4px;
  background-color: #ffffff; /* Цвет линий */
  border-radius: 2px; /* Закругленные углы */
  transition: all 0.3s ease; /* Анимация */
}

/* Анимация на нажатие (при необходимости) */
.burger-menu.active .line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.burger-menu.active .line:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

#nav_menu{
    width: 60%;
    height: 80%;
    background-color: #06858E;
    position: fixed;
    top: 50px;
    right: 0;
    display: none;
/*    z-index: 2;*/
    -webkit-box-shadow: -9px 7px 19px -2px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: -9px 7px 19px -2px rgba(0, 0, 0, 0.46);
    box-shadow: -9px 7px 19px -2px rgba(0, 0, 0, 0.46);
   overflow: hidden;
    
}
#nav_menu_ul{
   height: 78%;
    
    
}
#nav_menu ul{
    display: flex;
    flex-wrap: wrap;
    
    
}
#nav_menu ul li{
   width: 100%;
}
#nav_menu ul li a{
  transition: all 0.4s;
}


#znachki{
  width: 100%;
  height: 22%; 
    
  background-color: #045358;   
  display: flex; 
   align-items: flex-end;
    justify-content:space-around;
    flex-wrap: wrap;
   padding-bottom: 5%;
    
}

#znachki p{
  width: 100%; 
  color: white;
    margin: 0;
    margin-left: 5%;  
}

#znachki1{
  background-image: url(img/ikonMenu1.png); 
  width: 50px;
    height: 50px;
    background-size: cover;
    transition: all 0.5s;
    
}
#znachki1:hover{
  transform: scale(1.4); 
  cursor: pointer;
}
#znachki2:hover{
 transform: scale(1.4);
    cursor: pointer;
}
#znachki3:hover{
 transform: scale(1.4); 
    cursor: pointer;
}

#znachki2{
  background-image: url(img/ikonMenu2.png); 
    width: 50px;
    height: 50px; 
    background-size: cover;
     transition: all 0.3s;
}
#znachki3{
   background-image: url(img/ikonMenu3.png);  transition: all 0.3s; 
    width: 50px;
    height: 50px; 
    background-size: cover;
}








/*-------------------*/
         /*@media*/
/*-------------------*/

@media (min-width: 1600px){
  .burger-menu {
  display: none;  
} 
      #nav_logo{
    width: 30%;
    display: flex;
    justify-content: flex-start;
     margin-left: 2%;
    align-items: center;
} 
    #nav_glav{
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;  
 margin-left: 0; 
}
}
/*-------------------*/
         /*КОМПУХТЕРЫ*/
/*-------------------*/

@media (min-width: 993px) and (max-width: 1599px) {
    #nav_glav{
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
  margin-left: 0;      
}
  #nav_logo{
    width: 30%;
    display: flex;
    justify-content: flex-start;
     margin-left: 2%;
    align-items: center;
}    
  .burger-menu {
  display: none;  
} 
    
}
/*-------------------*/
/*НОутбук*/
/*-------------------*/

@media (min-width: 769px) and (max-width: 992px) {
#nav_glav{
  width: 65%;
 display: flex;
 justify-content: center;
 align-items: center;
  margin-left: 0;      
}
 #nav_logo{
    width: 20%;
    display: flex;
    justify-content: flex-start;
     margin-left: 2%;
    align-items: center;
}     
    
  .burger-menu {
  display: none;  
} 
    
}

/*-------------------*/
/*планшет*/
/*-------------------*/

@media (min-width: 577px) and (max-width: 768px) {  
  nav {
    justify-content: space-between;
  padding-right: 3%;
}  
  #nav_logo{
    width: 30%;
    display: flex;
    justify-content: flex-start;
     margin-left: 2%;
    align-items: center;
}    
  #nav_glav{
 display: none;
} 

}

/*-------------------*/
/*МОБИЛЫ*/
/*-------------------*/

@media (min-width: 376px) and (max-width: 576px) {
   nav {
  justify-content: space-between;
   padding-right: 3%;
}  
 #nav_logo{
    width: 30%;
    display: flex;
    justify-content: flex-start;
     margin-left: 2%;
    align-items: center;
     
}   
  #nav_glav{
 display: none;    
}
   #nav_menu{
    width: 80%;
    height: 80%;
       padding-top: 6%;
}  
}


/*-------------------*/
/*МОБИЛЫ вертикальные*/
/*-------------------*/

@media (min-width: 300px) and (max-width: 375px) {
  nav {
    justify-content: space-between;
  padding-right: 3%;
}  
 #nav_logo{
    width: 30%;
    display: flex;
    justify-content: flex-start;
     margin-left: 2%;
    align-items: center;
}  
  #nav_glav{
 display: none;
}
 #nav_menu{
    width: 80%;
    height: 80%;
     padding-top: 6%;
}   
}




